h1 {
    color: green;
}

.head {
    color: green;
}

.header {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin: 5px;
}

.link a {
    margin: 5px;
    padding: 5px;
    color: black;

}

.link a:hover {
    color: green;
}

.ram img {
    width: 500px;
    height: 350px;
}

.parent {
    display: grid;
    grid-template-columns: 50% 50%;
}

.text {
    position: relative;

}

.over {
    position: absolute;
    top: 35%;
    padding-left: 450px;
    font-weight: 900;

}

.over input {
    width: 88%;
    border:none;
    
    
}


.rela {
    position: relative;
    background-color: white;
    border-radius: 25px;
}

.rela button {
    color: white;
}